<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/18a5uiZP6h/"><i class="fa-brands fa-square-facebook"></i> </a>
            <a href="https://www.instagram.com/_mr_sunny_28?igsh=MnlseWR2ZWRlc3J4"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sunny-kumar-307a78191/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy Sunny Kumar </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>